.maincontainer{
    display: flex;
    margin: auto;
    /* border:1px solid black; */
    width:95%;
 
    /* height: 1200px; */
    justify-content:space-around ;
}

.date{
    width:350px;
    /* border:1px solid red; */
    height: 300px;
    
}

.curdate{
    width: 40%;
     margin: auto
}



.container{
    /* border:3px solid green; */
    /* width: 730px; */
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding: 1re; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  
}

.headernav{
    display: flex;
    /* width: 500px; */
     background-color: whitesmoke;
     justify-content: space-around;
  
}
.headernav>div{
    display: flex;
}