
.Highlighted_vitamins{
    /* border: 1px solid black; */
    margin-top: 3rem;
    display: flex;
    gap:1rem;
    padding: .5rem;
  
}
.general{
    /* height: 142px; */
    width:370px;
    /* border:5px solid red; */
    border:1px solid silver;
    padding:-1rem;
    margin-bottom: 1rem;
}


.mineralHeading{
    text-align: center;
    font-weight: 600;
    padding: .5rem;
    background-color: whitesmoke;
}