
.Highlighted_vitamins{
    border: 1px solid black;
    margin-top: 3rem;
    display: flex;
    gap:1rem;
    padding: .5rem;
  
}
.general{
    /* height: 142px; */
    width:354px;
    border:5px solid red
}

.general >h3{
    text-align: center;
}