.navbar_container{
display: flex;
justify-content: space-around;
border:1px solid whitesmoke;
/* padding-bottom: 1rem; */
margin-bottom: 2rem;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.rightnav{
    /* border:2px solid blue; */
    width: 700px;
    margin-top: .6rem;
    padding: 2px;
    margin-left: 6rem;
    display: flex;
    justify-content: space-around;
}

.rightnav>div{
    color: rgb(255, 169, 9);
    font-weight: 500;
    /* border: 1px solid black; */
    padding: .7rem;
    width: 100px;
    text-align: center;
    
}

.rightnav>div:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


}









/* 

style={{ display: "flex", justifyContent: "space-between",border:"1px solid blue",width:"700px",marginTop:".8rem" ,marginLeft:"6rem",padding:"2px"}} */